<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list-Weni Tasya</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    
    <div id="app">
        <div class="container">
            <h2 class="text-center">{{message}}</h2>
            <div class="row mt-5">
            <div class="col-xs-12 col-md-4">
            <form>
            <div class="form-group">
            <label for="todolist">Todolist</label>
            <input type="text" class="form-control" ref="textbox" v-model="newtodolist" placeholder="Input to do list here...">
            </div>
            <button type="button" class="btn btn-warning" v-on:click="addTodo">Save</button>
            </form>
            </div>
            <div class="col-xs-12 col-md-8 pt-4">
            <ul class="list-group">
            <li class="list-group-item disabled" v-for="(todolist,index) in todolists" :key="index">
            {{todolist.text}}
            <button type="button" class="btn btn-danger float-right" v-on:click="removeTodo(index)">Remove</span></button>
            </li>
            </ul>
            </div>
            </div>
            </div>
            </div>
    </div>
 <script>
     var app = new Vue({
        el: '#app',
        data: {
        message: "Todolist App",
        todolists :[
        {text : "Menyapu"},
        {text : "Masak"},
        ],
        newtodolist : ""
        },
        methods:{
        addTodo:function(){
        this.todolists.push({text:this.newtodolist});
        this.$refs.textbox.focus()
        this.newtodolist = "" 
        },
        removeTodo:function(index){
        this.todolists.splice(index,1);
        }
        }

    })
 </script>
</body>
</html>